name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  go:
    uses: bsm/misc/.github/workflows/test-go.yml@main
  ruby:
    uses: bsm/misc/.github/workflows/test-ruby.yml@main
